
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.filter_table{
  display: flex;
  justify-content: center;
}
.filter_table input{
  max-width: 160px;
}
.filter_table .form-group, .card-body-form .form-group{
  margin-left: 10px;
  margin-right: 10px;
}
.card-thin {
    max-width: 890px;
    margin: auto;
}
.card-body-table th{
  cursor: pointer;
}
.card-body-form{
  display: flex;
  justify-content: space-between;
}

.card-body-form .form-group{
  display: flex;
  justify-content: space-between;
}
.card-body-form .form-group label{
  margin-right: 10px;
}
.card-body-form_amount{
  max-width: 150px;
}


.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgb(13, 52, 224);
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(13, 52, 224);
}
